apiVersion: apps/v1
kind: Deployment
metadata:
  name: glassdash
  namespace: glassdash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: glassdash
  template:
    metadata:
      labels:
        app: glassdash
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
      volumes:
      - name: html
        configMap:
          name: glassdash-static-files

